body {
  padding-top: 5rem;
}

.exercise-modal.modal-dialog {
    margin: 5rem auto !important;
    max-width: 90vw !important;
}

.exercise-modal .modal-body {
    min-height: 60vh !important;
}

.exercise-modal .modal-footer {
    min-height: 69px;
}

.exercise-modal .modal-header {
    min-height: 69px;
}

.exercise-modal h1.counter-number {
    font-size: 15em;
    text-align: center;
}

.exercise-modal .modal-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.exercise-modal p {
    font-size: 2rem;
    text-align: center;
}

.exercise-modal .interval-selector-button {
    margin: 2rem;
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
}

.exercise-modal .interval-selector {
    text-align: center;
}

.exercise-modal .interval-selector-label {
    text-align: center;
}

.exercise-modal .answer-input {
    font-size: 2rem;
}

.exercise-modal .answer-input-label {
    font-size: 2rem;
}
