{% extends "base.html" %}
{% load i18n %}

{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="container col-xs-4">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <div class="form-group">
        <label for="username">{{ form.username.label_tag }}</label>
        <input class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="{% trans "Username" %}">
    </div>
    <div class="form-group">
        <label for="password">{{ form.password.label_tag }}</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" placeholder="{% trans "Password" %}">
    </div>
    <input type="hidden" name="next" value="/" />
    <input type="submit" class="btn btn-primary" value="{% trans "Log in" %}" />
</form>
</div>

{% endblock %}