{% load static %}
{% load i18n %}
{% load js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">MENAR</a>
  <ul class="nav navbar-nav">
    {% if user.is_staff %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url "admin:index" %}">{% trans "Admin" %}</a>
        </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li class="nav-item active">
        <a id="do-exercise" class="nav-link" href="#">{% trans "Do exercise" %}</a>
    </li>
    <li class="nav-item float-xs-right">
        <a class="nav-link" href="{% url "logout" %}">{% trans "Logout" %} ({{ user.get_username }})</a>
    </li>
    {% endif %}
    <li class="nav-item dropdown float-xs-right">
      <a class="nav-link dropdown-toggle" href="#" id="navbar-language-selector" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
          {% trans "Language" %}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbar-language-selector">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <a class="dropdown-item js-language" data-languageCode="{{ language.code }}" href="#">
                  {{ language.name_local }} ({{ language.code }})
              </a>
          {% endfor %}
      </div>
    </li>
  </ul>
</nav>

<div class="container">
{% block body %}{% endblock %}
</div>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/node_modules/tether/dist/js/tether.js"></script>
<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% django_js jquery=False i18n=False %}
{% block javascript %}{% endblock %}
<script type="text/javascript">
    {% get_current_language as LANGUAGE_CODE %}
    Django.language = '{{ LANGUAGE_CODE }}';
</script>
<script type="text/javascript">
    $(function(){
        $('.js-language').click(function () {
            const language = $(this).data('languagecode');
            $.post('{% url 'set_language' %}', {'language': language}, function(){location.reload()});
        });
        $('#do-exercise').click(function() {
            window.reactStore.dispatch(window.reactActions.exerciseRunnerOpen());
        });
    })
</script>
</body>
</html>


