{% extends "base.html" %}
{% block body %}
<form class="" action="{% url "generate-exercise" %}" method="post">
 {% csrf_token %}
 {{ form }}
<button class="btn btn-primary" type="submit">Submit<button/>
</form>
    <hr/>
    <div class="container">
    {% if contents %}
        <p>{{ contents }}</p>
    {% endif %}
    </div>
{% endblock %}
